*{margin: 0%;padding: 0%; box-sizing: border-box; background-color: #D3D3D3;
font-family: "Poppins", sans-serif;
}  

#nav {
    /* background-color: aquamarine;    */
     display: flex;
 
 justify-content: space-between;
 margin: 30px;

   }



 .btn1 { 
       
         background-color: #D3D3D3;
  border: 1.5px solid #000000;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;


         }

 .ul-bt{
         display: flex; 
         /* background: #f08e8e; */
          /* margin-left: 20%; */
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: large;
          /* width: 70%; */
          /* padding-right: 20%; */
          
         }



ul {display: flex;}
 li {
    padding: 20px; 
    list-style: none;}


.main-btn-1 {
    margin-left: 50px;
}


/* .hero { display: flex;} */


.hero1 { 
         display: flex;
         justify-content: space-between;
         margin: 30px 50px;
         
          }




.hero-img {}


.herobtn {
    background-color: black;
    color: white; 
    padding: 10px 20px;
    border-radius: 10px ;
    
}


.para-2 {
    font-size: 20px;
     color: #555;
    margin-bottom: 2rem;
    max-width: 360px;
    
}



.para-1 {
font-size: 50px;
    margin-bottom: 1.5rem;
    max-width: 440px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 545;
}



/* footer logos */


.img-div{
     height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.img-list{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.amazon{
    width: 90px;
    height: 35px;
}

.dribble{
    width: 110px;
    height: 35px;
}

.netflix{
    width: 90px;
    height: 35px;
}

.zoom{
    width: 90px;
    height: 35px;
}

.notion{
   width: 120px;
    height: 90px;
}

.hubspot{
    width: 90px;
    height: 35px;
}